<html>
  <head>
    <title>Maryland 6th District</title>
    <link rel="stylesheet" href="./styles.css">

  </head>
  <body>
    <div>
      <figure>
        <img src="MapMaryland_district6.png" width="50%">
      </figure>
      <figcaption>
          <h1>Maryland 6<sup>st</sup> District</h1>
          <cite>From NationalAtlas.gov</cite>
        </figcaption>

    </div>

    <div class = "districts">
        <h3>Maryland 6<sup>st</sup> District Officials</h3>
        <ol>
            <li><a href="#">District Judge: Party: </a></li>
            <li><a href="#">Representative: Party: </a></li>
    </div>

    <hr>

  </body>
</html>
