<html>
  <head>
    <title>Maryland 1st District</title>
    <link rel="stylesheet" href="./styles.css">

  </head>
  <body>
    <div>
      <figure>
        <img src="MapMaryland_district1.png" width="50%">
      </figure>
      <figcaption>
          <h1>Maryland 1<sup>st</sup> District</h1>
          <cite>From NationalAtlas.gov</cite>
        </figcaption>

    </div>

    <div class = "districts">
        <h3>Maryland 1<sup>st</sup> District Officials</h3>
        <ol>
            <li><a href="#">District Judge: Party: </a></li>
            <li><a href="#">Representative: Party: </a></li>
    </div>

    <!-- <div class = "State-Candidates"> -->
    <div class = "Dist1-people">
        <ul>
            {{#each officials}}
            <li class="list-group-item">
                <div class="title">{{this.title}}</div>
                <div class="name">{{this.name}}</div>
                <div class="party">{{this.party}}</div>
            </li>
            {{/each}}
        </ul>
    </div>

    <hr>

  </body>
</html>
