<div>
  <figure>
    <img src="https://www.washingtonpost.com/resizer/HC_1DK79Ml0RQ8qHZAGjptkIb-A=/1484x0/arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/6PSLWVVHZA57RJVDGMG6RFMLJI.png" width="500">
  </figure>
  <figcaption>
      <h1>Maryland's Districts</h1>
      <cite>From the Washington Post</cite>
    </figcaption>

</div>

<div class = "State-Candidates">
    <ul>
        {{#each officials}}
        <li class="list-group-item">
            <div class="title">{{this.title}}</div>
            <div class="name">{{this.name}}</div>
            <div class="party">{{this.party}}</div>
        </li>
        {{/each}}
    </ul>
</div>


<div class = "districts">
    <h3>Congressional Districts</h3>
    <ol>
        <li><a href="/District1">Maryland 1<sup>st</sup> District</a></li>
        <li><a href="/District2">Maryland 2<sup>nd</sup> District</a></li>
        <li><a href="/District3">Maryland 3<sup>rd</sup> District</a></li>
        <li><a href="/District4">Maryland 4<sup>th</sup> District</a></li>
        <li><a href="/District5">Maryland 5<sup>th</sup> District</a></li>
        <li><a href="/District6">Maryland 6<sup>th</sup> District</a></li>
        <li><a href="/District7">Maryland 7<sup>th</sup> District</a></li>
        <li><a href="/District8">Maryland 8<sup>th</sup> District</a></li>
</div>
